.show-main {
    padding: 80px 0px;
    // border: 1px solid purple;
    .show-upper {
        // border: 1px solid red;

        h2 {
            // border: 1px solid black;
            margin-bottom: 40px;
        }
        .show-image {
            float: right;
            padding-top: 9px;
            padding-left: 20px;
            padding-bottom: 20px;
            max-height: 500px;
        }

        .show-body {
            text-align: justify;
            // border: 1px solid green;
            padding-top: 0px !important;
            p {
                margin-bottom: 10px;
            }
        }
    }

    .show-upper::after {
        content: "";
        clear: both;
        display: table;
    }

    .show-lower {
        p {
            padding-top: 15px;
            padding-bottom: 20px;
        }

        .flex-buttons {
            display: flex;
            justify-content: space-between;
        }
        .btn-secondary,
        .btn-info {
            width: fit-content;
            align-self: flex-end;
        }
    }
}
